form {
  width: 371px;
  display: flex;
  margin: 32px auto 32px auto;
}

.input-field {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;
  margin-right: 8px;
  transition: border-color 500ms ease;
}

.input-field:placeholder-shown {
  color: #808080;
}

.input-field:hover {
  border-color: #000000;
}

.input-field:focus {
  border-color: #4e75ff;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  /* padding: 8px 16px; */
  transition: background-color 500ms ease;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

.button-search {
  width: 91px;
  height: 40px;
}

.button-load {
  width: 125px;
  height: 40px;
  display: block;
  margin: 0 auto 44px auto;
}

.gallery {
  width: 1128px;
  margin: 0 auto 32px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-img-list {
  position: relative;
  height: 250px;
  width: 360px;
  box-shadow: 0 2px rgb(0, 0, 0, 0.2);
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  background-color: #ffffff;
  width: 360px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
}

.value {
  font-size: 12px;
  line-height: 2;
}
